Automate Business Email Responses with ChatGPT & Airtable.json
{
    "name": "Automate responses to business emails with ChatGPT and Airtable",
    "flow": [{
            "id": 2,
            "module": "email:TriggerNewEmail",
            "version": 7,
            "parameters": {
                "to": "",
                "from": "",
                "text": "",
                "folder": "INBOX",
                "subject": "",
                "criteria": "UNSEEN",
                "markSeen": false,
                "maxResults": 100
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "folder": {
                            "path": [
                                "INBOX"
                            ]
                        },
                        "account": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "My Google Restricted connection (l.govender@make.com)"
                        },
                        "criteria": {
                            "label": "Only Unread emails"
                        }
                    }
                },
                "parameters": [{
                        "name": "account",
                        "type": "account:imap,google-restricted,microsoft-smtp-imap",
                        "label": "Connection"
                    },
                    {
                        "name": "criteria",
                        "type": "select",
                        "label": "Criteria",
                        "validate": {
                            "enum": [
                                "ALL",
                                "SEEN",
                                "UNSEEN"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "email",
                        "label": "Sender email address"
                    },
                    {
                        "name": "to",
                        "type": "email",
                        "label": "Recipient email address"
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Phrase"
                    },
                    {
                        "name": "markSeen",
                        "type": "boolean",
                        "label": "Mark message(s) as read when fetched"
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    },
                    {
                        "name": "folder",
                        "type": "folder",
                        "label": "Folder",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {},
            "mapper": {
                "model": "text-davinci-003",
                "prompt": "Categorize the following email '{{2.text}}' into one of these categories:\n- Inquiry/Requests\n- Complaints/Issues\n- Job Applications/Resumes",
                "select": "prompt"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "echo": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "text-davinci-003"
                        },
                        "select": {
                            "label": "Create a Prompt Completion"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [{
                    "name": "__IMTCONN__",
                    "type": "account:openai-gpt-3",
                    "label": "Connection"
                }],
                "expect": [{
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max Tokens"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "echo",
                        "type": "boolean",
                        "label": "Echo"
                    },
                    {
                        "name": "additionalParameters",
                        "spec": [{
                                "name": "key",
                                "type": "text",
                                "label": "Parameter Name",
                                "required": true
                            },
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Input Type",
                                "options": [{
                                        "label": "Text",
                                        "value": "text",
                                        "nested": [{
                                            "name": "value",
                                            "type": "text",
                                            "label": "Parameter Value"
                                        }],
                                        "default": true
                                    },
                                    {
                                        "label": "Number",
                                        "value": "number",
                                        "nested": [{
                                            "name": "value",
                                            "type": "number",
                                            "label": "Parameter Value"
                                        }]
                                    },
                                    {
                                        "label": "Boolean",
                                        "value": "boolean",
                                        "nested": [{
                                            "name": "value",
                                            "type": "boolean",
                                            "label": "Parameter Value"
                                        }]
                                    },
                                    {
                                        "label": "Date",
                                        "value": "date",
                                        "nested": [{
                                            "name": "value",
                                            "type": "date",
                                            "label": "Parameter Value"
                                        }]
                                    },
                                    {
                                        "label": "Any",
                                        "value": "any",
                                        "nested": [{
                                            "name": "value",
                                            "type": "any",
                                            "label": "Parameter Value"
                                        }]
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "prompt",
                        "type": "any",
                        "label": "Prompt"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {},
            "mapper": {
                "base": "appugHzavOgSJRaid",
                "table": "tblnKKeTBujBw9S0k",
                "fields": [
                    "Category",
                    "Prompt"
                ],
                "formula": "{Category}='{{3.choices[].text}}'",
                "maxRecords": "100",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "Business email reply with AI"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Table 1"
                        },
                        "fields": {
                            "mode": "chose",
                            "label": [
                                "Category",
                                "Prompt"
                            ]
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "Airtable"
                        }
                    }
                },
                "parameters": [{
                    "name": "__IMTCONN__",
                    "type": "account:airtable3,airtable2",
                    "label": "Connection"
                }],
                "expect": [{
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [{
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [{
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [{
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Category",
                        "type": "text",
                        "label": "Category"
                    },
                    {
                        "name": "Prompt",
                        "type": "text",
                        "label": "Prompt",
                        "multiline": true
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {},
            "mapper": {
                "model": "gpt-3.5-turbo-0301",
                "select": "chat",
                "messages": [{
                    "role": "user",
                    "content": "{{4.Prompt}} {{2.text}}"
                }]
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "echo": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-3.5-turbo-0301"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT Models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [{
                                "role": {
                                    "mode": "chose",
                                    "label": "User"
                                }
                            }]
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [{
                    "name": "__IMTCONN__",
                    "type": "account:openai-gpt-3",
                    "label": "Connection"
                }],
                "expect": [{
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max Tokens"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "echo",
                        "type": "boolean",
                        "label": "Echo"
                    },
                    {
                        "name": "additionalParameters",
                        "spec": [{
                                "name": "key",
                                "type": "text",
                                "label": "Parameter Name",
                                "required": true
                            },
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Input Type",
                                "options": [{
                                        "label": "Text",
                                        "value": "text",
                                        "nested": [{
                                            "name": "value",
                                            "type": "text",
                                            "label": "Parameter Value"
                                        }],
                                        "default": true
                                    },
                                    {
                                        "label": "Number",
                                        "value": "number",
                                        "nested": [{
                                            "name": "value",
                                            "type": "number",
                                            "label": "Parameter Value"
                                        }]
                                    },
                                    {
                                        "label": "Boolean",
                                        "value": "boolean",
                                        "nested": [{
                                            "name": "value",
                                            "type": "boolean",
                                            "label": "Parameter Value"
                                        }]
                                    },
                                    {
                                        "label": "Date",
                                        "value": "date",
                                        "nested": [{
                                            "name": "value",
                                            "type": "date",
                                            "label": "Parameter Value"
                                        }]
                                    },
                                    {
                                        "label": "Any",
                                        "value": "any",
                                        "nested": [{
                                            "name": "value",
                                            "type": "any",
                                            "label": "Parameter Value"
                                        }]
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": [{
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [{
                                        "label": "System",
                                        "value": "system"
                                    },
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Assistant",
                                        "value": "assistant"
                                    }
                                ],
                                "required": true
                            },
                            {
                                "name": "content",
                                "type": "text",
                                "label": "Message Content"
                            }
                        ],
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "email:ActionCreateDraft",
            "version": 7,
            "parameters": {},
            "mapper": {
                "cc": [],
                "to": [
                    "john@example.com"
                ],
                "bcc": [],
                "from": "",
                "html": "{{5.choices[].message.content}}",
                "folder": "[Gmail]/Drafts",
                "sender": "",
                "headers": [],
                "replyTo": "",
                "subject": "{{2.subject}}",
                "priority": "normal",
                "inReplyTo": "",
                "references": [],
                "attachments": []
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "cc": {
                            "mode": "chose"
                        },
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "folder": {
                            "mode": "chose",
                            "path": [
                                "Drafts",
                                "Drafts"
                            ]
                        },
                        "priority": {
                            "label": "Normal"
                        },
                        "references": {
                            "mode": "chose"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "contentType": {
                            "label": "HTML"
                        }
                    },
                    "parameters": {
                        "account": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "My Google Restricted connection (l.govender@make.com)"
                        }
                    }
                },
                "parameters": [{
                    "name": "account",
                    "type": "account:imap,google-restricted,microsoft-smtp-imap",
                    "label": "Connection"
                }],
                "expect": [{
                        "name": "folder",
                        "type": "folder",
                        "label": "Folder",
                        "required": true
                    },
                    {
                        "name": "to",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "To",
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "html",
                                "text"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "spec": [{
                                "name": "fileName",
                                "type": "filename",
                                "label": "File name",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                            },
                            {
                                "name": "cid",
                                "type": "text",
                                "label": "Content-ID"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Copy recipient"
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Blind copy recipient"
                    },
                    {
                        "name": "from",
                        "type": "text",
                        "label": "From"
                    },
                    {
                        "name": "sender",
                        "type": "text",
                        "label": "Sender"
                    },
                    {
                        "name": "replyTo",
                        "type": "text",
                        "label": "Reply-To"
                    },
                    {
                        "name": "inReplyTo",
                        "type": "text",
                        "label": "In-Reply-To"
                    },
                    {
                        "name": "references",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Reference",
                            "required": true
                        },
                        "type": "array",
                        "label": "References"
                    },
                    {
                        "name": "priority",
                        "type": "select",
                        "label": "Priority",
                        "validate": {
                            "enum": [
                                "high",
                                "normal",
                                "low"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [{
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "html",
                        "type": "text",
                        "label": "Content"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}